/* default */

.ui-view{
  margin: 10px;
  width: 100px;
  height: 100px;
}

.ui-view .ui-radio-button{
  position: relative;
  width: 13px;
	height: 13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #60b25e;
	-webkit-box-shadow: inset 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px rgba(0,0,0,.05);
	border: solid 1px #ccd3d5;
  animation: ui-radio-button-forth-animation 0.17s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view .ui-radio-button.active{
  background-color: #cfe8ce;
  box-shadow: 0px 0px 0px 3px #60b25e;
  border: solid 1px #ccd3d5;
  animation: ui-radio-button-first-animation  0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view .ui-radio-button i{
  float: left;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  opacity: 0;
  animation: ui-radio-button-third-animation 0.17s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view .ui-radio-button.active i{
  animation: ui-radio-button-second-animation  0.13s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
}

.ui-view .ui-view-spot.inactive{
  background-color: #f0f0f0;
  animation: none;
}

@keyframes ui-radio-button-first-animation{
    0%{   box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0.3), inset 0px 1px #c6dfc5;
          background-color: #cfe8ce;
          border: solid 1px #abc9b1;
     }
    100%{ box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1), inset 0px 1px rgba(96, 178, 94, 1);
          background-color: rgba(96, 178, 94, 1);
          border: solid 1px  rgba(96, 178, 94, 1);
    }
}

@keyframes ui-radio-button-second-animation{
  0%{   opacity: 0; transform: scale(0);}
  100%{ opacity: 1; transform: scale(1); }
}

@keyframes ui-radio-button-third-animation{
  0%{   opacity: 1; transform: scale(1);}
  100%{ opacity: 0; transform: scale(0); }
}

@keyframes ui-radio-button-forth-animation{
  0%{   background-color: #60b25e;
        box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1);
        border: solid 1px  rgba(96, 178, 94, 1);
  }
  100%{ background-color: #fff;
        box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0), inset 0 1px rgba(0,0,0,.05);
        border: solid 1px  #ccd3d5;
   }
}

/* dark */

.ui-view.dark .ui-radio-button{
  position: relative;
  width: 13px;
	height: 13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #60b25e;
	-webkit-box-shadow: inset 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px rgba(0,0,0,.05);
	border: solid 1px #323940;
  animation: ui-radio-button-forth-dark-animation 0.17s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view.dark .ui-radio-button.active{
  background-color: #cfe8ce;
  box-shadow: 0px 0px 0px 3px #60b25e;
  border: solid 1px #ccd3d5;
  animation: ui-radio-button-first-dark-animation  0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view.dark .ui-radio-button i{
  float: left;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  opacity: 0;
  animation: ui-radio-button-third-dark-animation 0.17s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view.dark .ui-radio-button.active i{
  animation: ui-radio-button-second-dark-animation  0.13s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
}

.ui-view.dark .ui-view-spot.inactive{
  background-color: #4a535b;
  animation: none;
  border: 1px solid #384048;
  box-shadow: none;
}

@keyframes ui-radio-button-first-dark-animation{
    0%{   box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0.3), inset 0px 1px #55755f;
          background-color: #587863;
          border: solid 1px #405e49;
     }
    100%{ box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1), inset 0px 1px rgba(96, 178, 94, 1);
          background-color: rgba(96, 178, 94, 1);
          border: solid 1px  rgba(96, 178, 94, 1);
    }
}

@keyframes ui-radio-button-second-dark-animation{
  0%{   opacity: 0; transform: scale(0);}
  100%{ opacity: 1; transform: scale(1); }
}

@keyframes ui-radio-button-third-dark-animation{
  0%{   opacity: 1; transform: scale(1);}
  100%{ opacity: 0; transform: scale(0); }
}

@keyframes ui-radio-button-forth-dark-animation{
  0%{   background-color: #60b25e;
        box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1);
        border: solid 1px  rgba(96, 178, 94, 1);
  }
  100%{ background-color: #545f65;
        box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0), inset 0 1px rgba(0,0,0,.05);
        border: solid 1px  #323940;
   }
}
