/* default */

.ui-view{
  margin: 10px;
  width: 100px;
  height: 100px;
}

.ui-view .ui-checkbox{
  position: relative;
  margin-left: 5px;
  width: 13px;
	height: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px rgba(0,0,0,.05);
	border: solid 1px #ccd3d5;
  overflow: hidden;
  background-color: #60b25e;
  animation: ui-checkbox-background-out-animation 0.2s forwards, ui-checkbox-border-out-first-animation 0.2s forwards, ui-checkbox-border-out-third-animation 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

.ui-view .ui-checkbox.active{
	background-color: #cfe8ce;
  box-shadow: 0px 0px 0px 3px #60b25e;
  animation: ui-checkbox-border-in-animation 0.2s forwards, ui-checkbox-background-in-animation 0.2s forwards,  ui-checkbox-bordertrans-in-animation 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out, ease-in-out, ease-in-out;
  z-index: 1;
  overflow: hidden;
  border: solid 1px #ccd3d5;
}

.ui-view .ui-checkbox.active:before{
  content: "";
  float: left;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: rgba(96, 178, 94, 1);
  z-index: 1;
  animation: 0.01s ui-checkbox-before-appear-animation forwards,  ui-checkbox-check-in-animation 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0.2s;
  margin-left: 0px;
  opacity: 0;
}

.ui-view .ui-checkbox.active i{
  float: left;
  position: absolute;
  width: 7px;
  height: 8px;
  background-image: none;
  background-size: 7px 8px;
  margin: 3px;
  animation: 0.1s ui-checkbox-check-appear-animation forwards;
  animation-delay: 0.21s;
  animation-iteration-count: 1;
}

.ui-view .ui-checkbox i{
  float: left;
  position: absolute;
  width: 7px;
  height: 8px;
  background-image: none;
  background-size: 7px 8px;
  margin: 3px;
  animation: 0.25s ui-checkbox-check-disappear-animation forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view .ui-checkbox.inactive{
  background-color: #f0f0f0;
  animation: none;
  box-shadow: none;
}

.ui-view .ui-checkbox.inactive i{
  animation: none;
}

@keyframes ui-checkbox-border-in-animation{
    0%{ box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0.3), inset 0px 1px #c6dfc5; }
    100%{ box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1), inset 0px 1px rgba(96, 178, 94, 1); }
}

@keyframes ui-checkbox-background-in-animation{
    0%{ background-color: #cfe8ce; }
    100%{ background-color: rgba(96, 178, 94, 1); }
}

@keyframes ui-checkbox-bordertrans-in-animation{
    0%{   border: solid 1px #abc9b1; }
    100%{   border: solid 1px  rgba(96, 178, 94, 1); }
}

@keyframes ui-checkbox-before-appear-animation{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

@keyframes ui-checkbox-check-appear-animation{
    0%{ background-image: none; }
    100%{ background-image: url('tick.png'); }
}

@keyframes ui-checkbox-check-in-animation{
    0%{ margin-left: 0px; }
    100%{ margin-left: 15px; }
}

@keyframes ui-checkbox-background-out-animation{
    0%{ background-color: #60b25e; }
    100%{ background-color: #fff; }
}

@keyframes ui-checkbox-border-out-first-animation{
    0%{ box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1); }
    100%{ box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0); }
}

@keyframes ui-checkbox-border-out-second-animation{
    0%{ box-shadow: 0px 0px 0px 2px #60b25e; }
    100%{ box-shadow: inset 0 1px rgba(0,0,0,.05); }
}

@keyframes ui-checkbox-border-out-third-animation{
    0%{ border: solid 1px  rgba(96, 178, 94, 1); }
    100%{ border: solid 1px  #ccd3d5; }
}

@keyframes  ui-checkbox-check-disappear-animation{
  0%{ background-image: url('tick.png');opacity: 1; width: 7px; height: 8px; margin: 3px; background-size: 7px 8px; }
  100%{ background-image: url('tick.png');opacity: 0; width: 12px; height: 13px; margin: 1px; background-size: 12px 13px; }
}

/* dark */

.ui-view.dark .ui-checkbox{
  position: relative;
  margin-left: 5px;
  width: 13px;
	height: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px rgba(0,0,0,.05);
	border: solid 1px #323940;
  overflow: hidden;
  background-color: #60b25e;
  animation: ui-checkbox-background-out-animation 0.2s forwards, ui-checkbox-border-out-first-animation 0.2s forwards, ui-checkbox-border-out-third-animation 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out, ease-in-out, ease-in-out;
}

.ui-view.dark .ui-checkbox.active{
	background-color: #cfe8ce;
  box-shadow: 0px 0px 0px 3px #60b25e;
  animation: ui-checkbox-border-in-animation 0.2s forwards, ui-checkbox-background-in-animation 0.2s forwards,  ui-checkbox-bordertrans-in-animation 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out, ease-in-out, ease-in-out;
  z-index: 1;
  overflow: hidden;
  border: solid 1px #ccd3d5;
}

.ui-view.dark .ui-checkbox.active:before{
  content: "";
  float: left;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: rgba(96, 178, 94, 1);
  z-index: 1;
  animation: 0.01s ui-checkbox-before-appear-animation forwards,  ui-checkbox-check-in-animation 0.2s forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-delay: 0.2s;
  margin-left: 0px;
  opacity: 0;
}

.ui-view.dark .ui-checkbox.active i{
  float: left;
  position: absolute;
  width: 7px;
  height: 8px;
  background-image: none;
  background-size: 7px 8px;
  margin: 3px;
  animation: 0.1s ui-checkbox-check-appear-animation forwards;
  animation-delay: 0.21s;
  animation-iteration-count: 1;
}

.ui-view.dark .ui-checkbox i{
  float: left;
  position: absolute;
  width: 7px;
  height: 8px;
  background-image: none;
  background-size: 7px 8px;
  margin: 3px;
  animation: 0.2s ui-checkbox-check-disappear-animation forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.ui-view.dark .ui-checkbox.inactive{
  background-color: #4a535b;
  border: 1px solid #384048;
  animation: none;
  box-shadow: none;
}

.ui-view.dark .ui-checkbox.inactive i{
  animation: none;
}

@keyframes ui-checkbox-border-in-animation{
    0%{ box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0.3), inset 0px 1px #55755f; }
    100%{ box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1), inset 0px 1px rgba(96, 178, 94, 1); }
}

@keyframes ui-checkbox-background-in-animation{
    0%{ background-color: #587863; }
    100%{ background-color: rgba(96, 178, 94, 1); }
}

@keyframes ui-checkbox-bordertrans-in-animation{
    0%{   border: solid 1px #405e49; }
    100%{   border: solid 1px  rgba(96, 178, 94, 1); }
}

@keyframes ui-checkbox-before-appear-animation{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

@keyframes ui-checkbox-check-appear-animation{
    0%{ background-image: none; }
    100%{ background-image: url('tick.png'); }
}

@keyframes ui-checkbox-check-in-animation{
    0%{ margin-left: 0px; }
    100%{ margin-left: 15px; }
}

@keyframes ui-checkbox-background-out-animation{
    0%{ background-color: #60b25e; }
    100%{ background-color: #545f65; }
}

@keyframes ui-checkbox-border-out-first-animation{
    0%{ box-shadow: 0px 0px 0px 0px rgba(96, 178, 94, 1); }
    100%{ box-shadow: 0px 0px 0px 3px rgba(96, 178, 94, 0); }
}

@keyframes ui-checkbox-border-out-second-animation{
    0%{ box-shadow: 0px 0px 0px 2px #60b25e; }
    100%{ box-shadow: inset 0 1px rgba(0,0,0,.05); }
}

@keyframes ui-checkbox-border-out-third-animation{
    0%{ border: solid 1px  rgba(96, 178, 94, 1); }
    100%{ border: solid 1px  #323940; }
}

@keyframes  ui-checkbox-check-disappear-animation{
    0%{ background-image: url('tick.png');opacity: 1; width: 7px; height: 8px; margin: 3px; background-size: 7px 8px; }
    100%{ background-image: url('tick.png');opacity: 0; width: 12px; height: 13px; margin: 1px; background-size: 12px 13px; }
}
